.top {
    position: relative;
    margin: auto;
    padding: 25px 25px 1px 25px;
    max-width: 600px;
    max-height: 200px;
    color: #ffffff;
    background-color: #000000;
}

.top a{
    cursor: pointer;
    display: block;
    font-size: 42px;
}

.login {
    position: relative;
    /* float: left; */
    margin: auto;
    padding: 1px 25px 25px 25px;
    max-width: 600px;
    max-height: 900px;
    min-height: 280px;
    color: #ffffff;
    background-color: #000000;
}

.login span {
    margin: 5px 5px;
    font-size: 20px;
}

.login .title {
    display: block;
    font-size: 42px;
}

.login .subtitle {
    display: block;
    font-size: 22px;
    padding: 8px 0;
}

.login input {
    margin: 8px 5px;
    min-height: 30px;
    background-color: #ffffff;
}

.login .info_text {
    min-width: 280px;
    font-size: 18px;
    font-style: italic;
}

.login .feed_text {
    min-width: 100px;
    font-size: 18px;
    font-style: italic;
}

.login .login_buttom {
    cursor: pointer;
    min-width: 180px;
    font-size: 18px;
    color: #858585;
    background-color: #efefef;
    text-align: center;
}

.login .send_buttom {
    cursor: pointer;
    font-size: 18px;
    color: #858585;
    background-color: #efefef;
    text-align: center;
}

.login .regist {
    font-size: 16px;
    margin-top: 12px;
    display: block;
}

.login a {
    margin-right: 16px;
    padding: 0;
    color: #ffffff;
}

a:hover {
    color:#cccccc;
}