.canv {
    margin: auto;
    margin-top: 10px;
    /* width: 1000px;
    height: 250px; */
    border: 1px solid #000000;
}

.chk {
    display: inline-block;
    margin: auto;
    margin-left: 20px;
}

.text {
    margin: auto;
    margin-top: 10px;
}

.sel {
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    min-width: 300px;
    min-height: 25px;
}

.inp {
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    min-width: 300px;
    min-height: 25px;
}

.bt {
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    min-width: 80px;
    min-height: 25px;
}

.top {
    position: relative;
    margin: 10px;
    padding: 25px 25px 1px 25px;
    max-width: 600px;
    max-height: 200px;
    color: #ffffff;
    background-color: #000000;
}

.top a {
    cursor: pointer;
    display: block;
    font-size: 42px;
}